<template>
  <v-container style="height: 400px" class="quize-app__body pa-7">
    <div class="quize-app__content">
      <div class="quize-app__chip mb-4">
        <span class="gray--text mr-2">Category:</span>
        <v-chip
          dark
          small
          :color="setChipColor(questions[currIndex].category)"
          >{{ questions[currIndex].category }}</v-chip
        >
      </div>

      <v-divider></v-divider>

      <div class="quize-app__question">
        <h3 class="my-3">{{ questions[currIndex].question }}</h3>

        <v-radio-group v-model="checkedItem" column>
          <v-radio
            v-for="(answer, index) in shuffledAnswers"
            :key="index"
            :label="answer"
            color="indigo darken-3"
            :value="answer"
            v-show="currIndex !== 0"
            :class="setRadioClass(index)"
            @click="choosedItem = index"
          ></v-radio>
          <v-radio
            v-for="(answer, index) in answers"
            :key="index"
            v-show="currIndex === 0"
            :label="answer"
            :value="answer"
            :disabled="radioDis"
            :class="setRadioClass(index)"
            @click="choosedItem = index"
          ></v-radio>
        </v-radio-group>
      </div>
    </div>

    <div class="quize-app__buttons pb-3">
      <v-btn
        depressed
        dark
        color="indigo"
        :disabled="!activeSubmit"
        @click="submitClicked"
        >Submit</v-btn
      >
      <v-btn
        depressed
        :disabled="activeSubmit"
        outlined
        color="warning"
        class="ml-3"
        @click="nextClicked"
        >Next</v-btn
      >
    </div>
  </v-container>
</template>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  data() {
    return {
      loading: true,
      questions: [],
      currIndex: 0,
      activeSubmit: true,
      choosedItem: null,
      checkedItem: null,
      shuffledAnswers: [],
      correctAnswerIndex: null,
      submited: false,
      isTrue: false,
      isfalse: false,
      radioDis: false,
    };
  },
  watch: {
    currIndex: {
      immediate: true,
      handler() {
        this.shuffleAnswers();
      },
    },
  },
  methods: {
    setRadioClass(index) {
      if (this.submited) {
        this.radioDis = true;
        if (index === this.correctAnswerIndex) {
          console.log("correct");
          this.isTrue = true;

          return "mb-4 pa-1 green lighten-4 rounded";
        } else {
          if (index === this.choosedItem) {
            console.log("wrong");

            return "mb-4 pa-1 red lighten-4 rounded";
          } else {
            return "mb-4";
          }
        }
      } else {
        return "mb-4";
      }
    },
    submitClicked() {
      this.activeSubmit = !this.activeSubmit;
      this.submited = true;
    },
    nextClicked() {
      if (this.currIndex < 10) {
        this.currIndex++;
      }
      this.$emit("currentQ", this.currIndex);
      this.activeSubmit = !this.activeSubmit;
      this.checkedItem = null;
      this.submited = false;

    },
    setChipColor(category) {
      switch (category) {
        case "History":
          return "green";
          break;
        case "Entertainment: Comics":
          return "deep-purple lighten-1";
          break;
        case "Entertainment: Japanese Anime & Manga":
          return "orange";
          break;
        case "Entertainment: Film":
          return "primary";
          break;
        case "Entertainment: Music":
          return "indigo";
          break;
        case "Entertainment: Video Games":
          return "info";
          break;
        case "Entertainment: Cartoon & Animations":
          return "pink lighten-1";
          break;
        case "Mythology":
          return "light-green darken-3";
          break;
        case "Geography":
          return "brown darken-1";
          break;
        case "Science & Nature":
          return "green accent-2";
          break;
        case "Science: Mathematics":
          return "amber darken-1";
          break;
        case "Science: Computers":
          return "deep-purple darken-1";
          break;
        case "Art":
          return "pink darken-4";
          break;
        case "Entertainment: Musicals & Theatres":
          return "purple accent-3";
          break;
        case "General Knowledge":
          return "blue accent-4";
          break;
        case "Sport":
          return "cyan lighten-1";
          break;
        default:
          break;
      }
    },
    shuffleAnswers() {
      console.log(this.questions[this.currIndex].incorrect_answers);
      let answers = [
        ...this.questions[this.currIndex].incorrect_answers,
        this.questions[this.currIndex].correct_answer,
      ];

      this.shuffledAnswers = _.shuffle(answers);

      this.correctAnswerIndex = this.shuffledAnswers.indexOf(
        this.questions[this.currIndex].correct_answer
      );
    },
  },
  computed: {
    answers() {
      let answers = [...this.questions[this.currIndex].incorrect_answers];
      answers.push(this.questions[this.currIndex].correct_answer);

      if (this.currIndex === 0) {
        this.correctAnswerIndex = answers.indexOf(
          this.questions[this.currIndex].correct_answer
        );
      }

      return answers;
    },
  },
  mounted() {
    axios
      .get("https://opentdb.com/api.php?amount=10&type=multiple")
      .then((res) => {
        console.log(res.data.results);

        this.questions = res.data.results;

        this.loading = false;
        this.$emit("loader", this.loading);
      });
  },
};
</script>

<style scoped>
.quize-app__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quize-app__buttons {
  display: flex;
  justify-content: space-between;
}
</style>