<template>
  <v-toolbar color="orange lighten-1" dark>
    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-btn v-bind="attrs" v-on="on" icon
          ><v-icon>mdi-help-box</v-icon></v-btn
        >
      </template>
      <span>select the correct answer</span>
    </v-tooltip>
    <slot></slot>

    <v-spacer></v-spacer>
    <v-btn icon>
      <v-icon color="green">mdi-checkbox-marked</v-icon>
      <span>1</span>
    </v-btn>
    <v-btn icon>
      <v-icon color="red">mdi-close-box</v-icon>
      <span>1</span>
    </v-btn>
  </v-toolbar>
</template>

<script>
export default {};
</script>

<style>
</style>