<template>
  <v-container>
    <v-overlay>
      <v-progress-circular indeterminate size="54"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style>
</style>