<template>
  <v-app>
    <v-main class="quize-app indigo darken-2">
      <v-container style="height: 100vh">
        <v-row class="d-flex justify-center align-center" style="height: 100vh">
          <v-col cols="7">
            <v-card class="overflow-hidden">
              <Header>
                <v-toolbar-title v-if="currentIndex !== 11"
                  >Question {{ currentIndex }} / 10</v-toolbar-title
                >
                <v-toolbar-title v-if="currentIndex >= 11"
                  >Quiz result</v-toolbar-title
                >
              </Header>
              <v-sheet
                id="scrolling-techniques-4"
                class="overflow-y-auto"
                max-height="500"
              >
                <Content
                  @loader="loaderStatus($event)"
                  @currentQ="showCurrentQ($event)"
                />
                <Loader v-if="loading" />
              </v-sheet>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Header from "./components/Header.vue";
import Content from "./components/Content.vue";
import Loader from "./components/Loader.vue";

export default {
  name: "App",

  data: () => ({
    loading: true,
    currentIndex: 1,
    trueCount: 0,
    falseCount: 0,
  }),
  methods: {
    loaderStatus($event) {
      this.loading = $event;
    },
    showCurrentQ(index) {
      this.currentIndex = index + 1;
    },
  },
  components: { Header, Content, Loader },
};
</script>
